@font-face {
    font-family: Roboto;
    src: url(../resources/fonts/Roboto.ttf);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Roboto, sans-serif;
    font-size: 24px;

    --main-color: #1992d4;
    --main-color-hover: hsl(201, 79%, 53%);
    --main-color-active: hsl(201, 79%, 40%);
}

body {
    display: grid;
    grid-template: 200px 1fr / max(355px, 15%) 1fr;
}

.sidebar {
    grid-row: span 2;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    color: white;
    background-color: var(--main-color);
    box-shadow: -2px 0 10px #505050;
    position: sticky;
    top: 0px;
}

.logo-container {
    min-height: 110px;
    padding: 0 15px;
}

.nav {
    min-height: min-content;
}

.sidebar ul {
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 60px));
}

.sidebar li {
    padding: 0 15px;
    align-content: center;
    font-weight: 450;
    min-height: 60px;
}

.sidebar li:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.sidebar li:active {
    background-color: var(--main-color-active);
}

header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding-left: 50px;
    box-shadow: 0 -2px 10px #505050;
    clip-path: inset(-10px -10px -10px 0);
}

.search-container {
    display: grid;
    grid-template-columns: min-content 1fr;
}

#search-bar {
    font-size: 1rem;
    border: none;
    border-radius: 1.2rem;
    padding: 5px 15px;
    background-color: #e2e8f0;
}

#search-bar:focus {
    outline: 2px solid var(--main-color);
}

.user-info {
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-self: center;
}

.user-info span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.welcome-message {
    justify-self: start;
    display: grid;
    grid-template-rows: 1fr 1fr / min-content 1fr;
    column-gap: 20px;
}

.profile-image-large {
    grid-row: span 2;
    height: 3.5rem;
    border-radius: 50%;
}

.greeting {
    grid-column-start: 2;
}

.user-data {
    font-size: 1.5rem;
    font-weight: 450;
}

.header-button-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0 15px;
    justify-self: center;
}

.header-button {
    background-color: var(--main-color);
    color: white;
    font-size: 0.75rem;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    width: 135px;
}

.header-button:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.header-button:active {
    background-color: var(--main-color-active);
}

main {
    display: grid;
    grid-template: repeat(2, minmax(min-content, 50%)) / 3fr 1fr;
    gap: 2%;
    background-color: #e2e8f0;
    padding: 20px;
    font-size: 0.75rem;
}

.project-container {
    grid-row: span 2;
}

h2 {
    margin-bottom: 10px;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    gap: 30px;
}

.project-card {
    background: linear-gradient(90deg, #f0b429 10px, white 10px);
    border-radius: 10px;
    padding: 5% 5% 5% max(5%, 15px);
    display: grid;
    min-width: min-content;
}

.project-card h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.project-card p {
    font-size: 0.75rem;
    color: gray;
}

.project-card-button-container {
    padding-top: 50px;
    align-self: end;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.project-card-button {
    background-color: transparent;
    border: unset;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 10px;
}

.project-card-button:hover {
    cursor: pointer;
}

.project-card-button:active {
    background-color: #e0e0e0;
}

.announcement-card,
.trending-card {
    background-color: white;
    padding: max(25px, min(40px, 15%));
    border-radius: 10px;
}

.announcement-card hr {
    margin: 15px 0;
}

.announcement h3 {
    font-size: 0.75rem;
}

.announcement h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.announcement p {
    font-size: 0.65rem;
    color: gray;
}

.trending {
    margin-top: 20px;
    justify-self: start;
    display: grid;
    grid-template-rows: 1fr 1fr / min-content 1fr;
    column-gap: 10px;
    align-items: center;    
}

.trending .profile-image {
    grid-row: span 2;
}

.trending p {
    grid-column-start: 2;
}

.trending:first-of-type {
    margin-top: 0px;
}

.trending p:last-of-type {
    color: gray;
}

.trending p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon {
    height: 1.2em;
    position: relative;
    top: 6px;
}

.logo {
    height: 1.5em;
    top: 18px;
}

.white {
    fill: white;
}

.gray {
    fill: #333333;
}

.sidebar li .icon {
    margin: 0 5px;
}

#notifications {
    top: 0;
}

#notifications:hover {
    cursor: pointer;
}

.project-card-button .icon {
    top: 2px;
    left: -1px;
}

.profile-image {
    height: 2.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

.profile-image:hover {
    cursor: pointer;
}